:root {
    --red: #ff3838;
}

.pokebola {
    width: 73px;
    height: 73px;
    background-color: red;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;
    position: relative;
    animation: myAnim 1.5s ease 0s infinite normal forwards;
   
}
.bottom {
    width: 100%;
    background-color: #fff;
    height: 50%;
    border-top: 2px solid black;
    
    
}
.top {
    width: 100%;
    background-color: var(--red);
    height: 50%;
    border-bottom: 2px solid black;
    
}
.point {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid black;
    position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
}



@keyframes myAnim {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}